
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog{
  display: block; /*for older browsers to render them correctly*/
}
*{
  margin: 0;      /*cross browser compatibility*/
  padding: 0;
  border: 0 none;
}
ul{
  list-style: none;
}

/* Basics
 *************************************/

body{
  font-family: "minion-pro", Adobe Garamond Pro, Georgia, Times, serif;
  font-size: 100%; /*with this, combination of % and Em font-size works in all browsers*/
  line-height: 200%;
  vertical-align: baseline;
  color: #313233;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
a{
  cursor: pointer;
  color: #2A5DB0;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: all .40s;
     -moz-transition: all .40s;
          transition: all .40s;
}
  a:hover {
    color: #000000;
  }

code{
  font-family: Lucida Console, Monaco, Andale Mono, monospace;
}
.center{
  text-align: center;
}
.inline {
  display: inline;
}
#portfolio .no-margin,
#portfolio .no-margin img:first-child{
  margin: 0;
}

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)"; }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")"; }

/* Layout
 *************************************/

.wrap{
  padding: 80px 0;
}
  .wrap-white{
    background: #fff;
  }
  .wrap-beige{
    background: #f2eae4;
  }
  .wrap-gradient-beige{
    background: #f2eae4;
    background: -webkit-linear-gradient(top, #a58d7c 0%,#ffdec5 77%,#ffecd6 100%);
    background:    -moz-linear-gradient(top, #a58d7c 0%, #ffdec5 77%, #ffecd6 100%);
    background:     -ms-linear-gradient(top, #a58d7c 0%,#ffdec5 77%,#ffecd6 100%);
    background:         linear-gradient(to bottom, #a58d7c 0%,#ffdec5 77%,#ffecd6 100%);
  }
  .wrap-black{
    background: #181819;
  }
  .wrap-gradient-black{
    background: #2d2f33;
    background: -webkit-linear-gradient(top, #2d2f33 0%,#878f99 100%);
    background:    -moz-linear-gradient(top, #2d2f33 0%, #878f99 100%);
    background:     -ms-linear-gradient(top, #2d2f33 0%,#878f99 100%);
    background:         linear-gradient(to bottom, #2d2f33 0%,#878f99 100%);
  }
  .wrap-img{
    padding: 110px 0;
  }
  .wrap-border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.15);
  }
  .wrap-border-top{
    border-top: 1px solid rgba(0,0,0,.15);
  }
  .wrap-m-b-0{
    padding-bottom: 0;
  }
  .wrap-m-b-20{
    margin-bottom: -20px;
    padding-bottom: 0;
  }
  .wrap-m-b-30{
    margin-bottom: -30px;
    padding-bottom: 0;
  }
  .wrap-m-b-50{
    margin-bottom: -50px;
    padding-bottom: 0;
  }
  .wrap-m-b-120{
    margin-bottom: -120px;
    padding-bottom: 0;
  }
  .wrap-m-t-50{
    padding-top: 130px;
  }
.container{
  overflow: hidden;
  width: 970px;
  margin: 0 auto;
}
.container-article{
  overflow: hidden;
  width: 720px;
  margin: 0 auto;
}
.row{
  overflow: hidden;
}
.span3{
  float: left;
  width: 32%;
  margin-right: 2%;
}
  .span3:nth-child(3n){
    margin-right: 0;
  }

/* Buttons
 *************************************/

.btn{
  display: inline-block;
  padding: 10px 24px;
  font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
  a.btn:hover{
    color: black;
  }
  .btn.btn-outline{
    border: 2px solid gray;
  }
    a.btn.btn-outline:hover{
      border-color: black;
    }
  span.btn{
    opacity: .5;
  }


/* Banner
 *************************************/

header[role="banner"]{
  overflow: hidden;
  padding: 0 0 30px 0;
}
  header[role="banner"] nav{
    overflow: hidden;
  }
    .icon-larger:before {
        font-size: 20px;
      }
    .hireme{
      display: block;
      float: left;
      width: auto;
      height: 34px;
      margin: 30px 0 0 30px;
      padding: 0px 5px;
      font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
      font-size: .75em;
      font-weight: 500;
      letter-spacing: .3em;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      color: white;
      background-color: black;
      border: 1px solid black;
    }
      a.hireme:hover{
        color: black;
        background-color: white;
      }

    .logo{
      display: block;
      float: left;
      width: auto;
      height: 34px;
      margin-top: 30px;
      text-indent: -9999px;
      background: url(/favicon.ico) no-repeat center center;
    }
    header[role="banner"] ul{
      overflow: hidden;
      float: right;
    }
      header[role="banner"] li{
        display: block;
        float: left;
        margin: 30px 0 0 30px;
      }
        header[role="banner"] li:first-child{
          margin-left: 0;
        }
        header[role="banner"] li a{
          display: block;
          font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
          font-size: .75em;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: .3em;
          opacity: .5;
          color: black;
        }
          header[role="banner"] li a:hover{
            opacity: 1;
            color: black;
          }

/* Content
 *************************************/

.content{
  overflow: hidden;
  padding: 80px 0 100px 0;
}
  .content h1{
    margin-top: 20px;
    font-family: "minion-pro", Minion Pro, Adobe Garamond Pro, Georgia, Times, serif;
    font-size: 2.0em;
    line-height: 130%;
  }
  .content h2{
    font-size: 1.6em;
  }
  .content h3{
    font-size: 1.3em;
  }

  .content h1 span{
        display: block;
        font-style: italic;
      }
  .content-bg{
    padding: 150px 0 180px 0;
  }
    .content-img h1,
    .content-bg h1{
      font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
      font-size: 4em;
      font-weight: normal;
      line-height: 140%;
      color: #fff;
    }
    .content-bg h1{
      text-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
  .content-img{
    padding-top: 60px;
  }
    .content-img h1{
      color: #313233;
    }
  .content figure{
    overflow: hidden;
    margin-top: 40px;
  }
    .content figure img{
      display: block;
      width: 100%;
      margin-top: 20px;
    }

  .content .listing {
      margin: 10px 0 0 0;
      padding: 0;
      font-family: Helvetica, sans-serif;
    }
      .content .listing ul {
        margin: 0;
        padding: 0; }
      .content .listing li {
        font-size: 1em;
        list-style: none;
        padding: 5px 3px;
        margin: 0;
        color: #777777;
        border-bottom: 1px solid #eee;
      }
      .content .listing li span {
        float: right;
      }


/* Articles
 *************************************/

  article{
    overflow: hidden;
    font-family: "minion-pro", Adobe Garamond Pro, Georgia, Times, serif;
  }

  article .container{
    overflow: hidden;
    margin: 0 auto;
    width: 720px;

  }
    article header{
      overflow: hidden;
      margin-bottom: 16px;
    }
      article header h1,
      article header h2{
        font-size: 2.6em;
        line-height: 1.6em;
      }
        article header h1 a,
        article header h2 a{
          border: 0 none;
          white-space: normal;
          color: black;
        }
          article header h1 a:hover,
          article header h2 a:hover{
            color: #2A5DB0;;
          }
      article time{
        display: block;
        margin-bottom: 8px;
        color: #a4abb2;
        font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
        font-size: .75em;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .2em;
      }
    article .content{
      font-size: 1.1em;
      font-family: "minion-pro", Adobe Garamond Pro, Georgia, Times, serif;
    }
      article .content h1{
        margin: 60px 0 30px 0;
      }
      article .content h2,
      article .content h3{
        margin: 30px 0 25px 0;
      }
      article .content h2{
        font-size: 1.6em;
      }
      article .content h3{
        font-size: 1.3em;
      }
      article .content p{
        margin-bottom: 20px;
      }
      article .content figure{
        width: 100%;
        margin: 30px 0;
      }
        article .content img{
          max-width: 100%;
          height: auto;
          width: auto\9; /* ie8 */
          display: block;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
        article .content figure figcaption{
          display: block;
          margin-top: 20px;
          font-style: italic;
        }

      article .content ul,ol{
        margin: 0 0 20px 40px;
      }
      article .content ul{
        list-style: disc;
      }
      article .content ol{
        list-style: decimal;
      }

        .content p code {
          font-family: monospace;
          font-size: .9em;
          background: #eeeeee;
          /* border: 1px solid #777777; */
          border-radius: 3px;
          padding: 2px 3px;
          white-space: nowrap;
          text-shadow: 0 1px rgba(255,255,255,.2);
          background: #eeeeee;
          -webkit-border-radius: 3px;
             -moz-border-radius: 3px;
                  border-radius: 3px;
          -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
             -moz-box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
                  box-shadow: 0 -1px 1px rgba(0,0,0,.1) inset;
        }
        article .content .intro{
          margin-top: 0;
        }
          article .content .intro strong{
            font-weight: normal;
          }
      article .content .prettyprint{
        display: block;
        margin-bottom: 20px;
        padding: 12px 18px;
        line-height: 1.3em;
        color: #f5f9ff;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        background: #30353d;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
           -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
                box-shadow: 0 -1px 2px rgba(0,0,0,.8) inset;
      }
      article .content .read-more{
        margin-top: 10px;
      }
      article .content hr {
        display: block;
        width: 100px;
        margin: 40px auto;
        height: 1px;
        border-bottom: 10px solid #ddd;
      }
      article .content blockquote {
        border-left: 10px solid #ddd;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
      }
        article .content blockquote:before {
          color: #ddd;
          content: "\f10d";
          font-family: FontAwesome;
          float: left;
          margin-right: 10px;
          font-size: 2em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }


/* Article Gist
 ************************************/

article .content .gist{
  color: #f5f9ff;
}
  article .content .gist .gist-file{
    margin-bottom: 20px;
    border: 0 none;
  }
    article .content .gist .gist-file .gist-data{
      font-family: Monaco, Andale Mono, monospace;
      font-size: 1em;
      line-height: 20px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      background: #30353d;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.5) inset;
         -moz-box-shadow: 0 -1px 2px rgba(0,0,0,.5) inset;
              box-shadow: 0 -1px 2px rgba(0,0,0,.5) inset;
    }
      article .content .gist .gist-file .gist-data .line-numbers{
        padding: 20px;
        color: #6e7480;
        border: 0 none;
        background: #1b1f24;
        -webkit-border-top-left-radius: 3px;
           -moz-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
           -moz-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
      }
      article .content .gist .gist-file .gist-data .line-data{
        padding: 20px !important;
      }
        article .content .gist .gist-file .gist-data pre{
          font-family: Monaco, Andale Mono, monospace;
          font-size: 1em;
        }
        .gist .gist-syntax .na,
        .gist .gist-syntax .k{
          color: #fff4d3;
        }
        .gist .gist-syntax .kt,
        .gist .gist-syntax .m,
        .gist .gist-syntax .mi,
        .gist .gist-syntax .no{
          color: #00ffbe;
        }
        .gist .gist-syntax .n,
        .gist .gist-syntax .s1,
        .gist .gist-syntax .s2,
        .gist .gist-syntax .sx{
          color: #ff4184;
        }
        .gist .gist-syntax .nc,
        .gist .gist-syntax .nt{
          color: #84d6ed;
        }
        .gist .gist-syntax .nd,
        .gist .gist-syntax .nf{
          color: #c0aafc;
        }
        .gist .gist-syntax .nv{
          color: #fb8a95;
        }
        .gist .gist-syntax .nd,
        .gist .gist-syntax .o{
          color: #f5f9ff;
        }
        .gist .gist-syntax .na, .gist .gist-syntax .k, .gist .gist-syntax .kt, .gist .gist-syntax .m, .gist .gist-syntax .mi, .gist .gist-syntax .no, .gist .gist-syntax .n, .gist .gist-syntax .s1, .gist .gist-syntax .s2, .gist .gist-syntax .sx, .gist .gist-syntax .nc, .gist .gist-syntax .nt, .gist .gist-syntax .nd, .gist .gist-syntax .nf, .gist .gist-syntax .nv, .gist .gist-syntax .nd, .gist .gist-syntax .o{
          font-weight: normal !important;
        }
article .content .gist .gist-meta{
  display: none;
}


/* Article footer
 *************************************/

.article-foot{
  margin-top: 40px;
  line-height: 120%;
}
  .article-foot-top{
    overflow: hidden;
    padding: 20px 0;
    text-align: right;
    line-height: 120%;
  }
    .link-nav{
      display: block;
      margin-bottom: 8px;
      color: #a4abb2;
      font-family: "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
      font-size: .75em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .2em;
      overflow: hidden;
      float: left;
      margin: 0 15px 0 0px;
    }
      .link-nav:hover{
        color: black;
      }
  .bio{
    margin-top: 60px;
    line-height: 165%
  }
    .bio h5{
      margin: 0 0 10px 160px;
      font-size: 1em;
      font-style: italic;
    }
    .bio p{
      margin-left: 160px;
      font-size: 1em;
      font-style: italic;
    }
      .bio p span{
        font-style: italic
      }
    .bio ul{
      overflow: hidden;
      margin: 10px 0 0 160px;
      font-size: 1.125em;
    }
      .bio ul li{
        display: block;
        float: left;
        margin-right: 15px;
      }
        .bio a i{
          display: inline-block;
          margin-right: 5px;
          font-size: 60%;
        }
    .bio img{
      display: block;
      float: left;
      width: 100px;
      height: 100px;
      border:0;
      background: url(/favicon.ico) no-repeat center center;
/*      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;*/
    }


/* Footer
 *************************************/

footer[role="footer"]{
  overflow: hidden;
  padding: 50px 0;
  font-family: "nimbus-sans", "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: 500;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}
  footer[role="footer"] p{
    display: inline-block;
    font-size: 1em;
    color: #666;
  }
  footer[role="footer"] hr{
    display: block;
    width: 100px;
    margin: 10px auto;
    height: 1px;
    background: rgba(0,0,0,.3);
  }
  footer[role="footer"] ul{
    overflow: hidden;
  }
    footer[role="footer"] li{
      display: inline-block;
      margin: 0 5px;
    }



/* Portfolios overview
 *************************************/

#portfolios{
  padding-bottom: 100px;
}
  #portfolios ul{
    overflow: hidden;
  }
    #portfolios li{
      display: block;
      margin-top: 20px;
    }
      #portfolios a{
        position: relative;
        display: block;
      }
        #portfolios a img{
          display: block;
          width: 100%;
          height: auto;
          -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
                  border-radius: 2px;
        }
        #portfolios a div{
          position: absolute;
          z-index: 20;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          color: #fff4cc;
          text-align: center;
          background: rgba(11,12,13,.9);
          opacity: 0;
          -webkit-border-radius: 2px;
             -moz-border-radius: 2px;
                  border-radius: 2px;
          -webkit-transition: all .4s;
             -moz-transition: all .4s;
                  transition: all .4s;
        }
          #portfolios a strong{
            display: block;
            margin-top: 130px;
            font-family: "nimbus-sans", "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
            font-size: .875em;
            font-weight: 500;
            color: #fff;
            letter-spacing: .2em;
            line-height: 150%;
            text-transform: upperportfolio;
          }
          #portfolios a span{
            font-style: italic;
          }
          #portfolios a:hover div{
            opacity: 1;
          }

/* Portfolio - global
 *************************************/

#portfolio h2,
#portfolio p{
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 150%;
}
#portfolio h2{
  margin-bottom: 30px;
  font-size: 1.75em;
  text-align: center;
}
#portfolio p{
  font-size: 1.1875em;
}
  #portfolio p:last-child{
    margin-bottom: 0;
  }
  #portfolio p span{
    font-style: italic;
  }
  #portfolio p a{
  }
    #portfolio p a:hover{
      border-color: rgba(0,0,0,0);
    }
#portfolio figure{
  overflow: hidden;
  margin-top: 40px;
}
  #portfolio figure img{
    display: block;
    width: 100%;
    margin-top: 20px;
  }
#portfolio-summary .span3{
  text-align: center;
}
  #portfolio-summary strong{
    display: block;
    font-size: .75em;
    font-family: "nimbus-sans", "brandon-grotesque", Futura, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: upperportfolio;
    letter-spacing: .3em;
  }

/* Portfolio - Navigation
 *************************************/

#portfolio-nav{
  padding: 30px 0;
}
  .portfolio-prev,
  .portfolio-next{
    display: block;
    margin-bottom: 5px;
    font-style: italic;
  }
    a.portfolio-prev:hover,
    a.portfolio-next:hover{
      color: #f52a0e;
    }
    span.portfolio-prev,
    span.portfolio-next{
      opacity: .5;
    }
  .portfolio-prev{
    float: left;
  }
  .portfolio-next{
    float: right;
  }





/* Responsiveness
 *************************************/

@media screen and (max-width: 1050px){
  .container{
    width: auto;
    padding: 0 40px;
  }
  .container-article{
    width: auto;
    padding: 0 40px;
  }
}
@media screen and (max-width: 760px){
  body{
    font-size: 90%;
  }
  .container{
    padding: 0 30px;
  }
  .container-article{
    padding: 0 30px;
  }
  .wrap{
    padding: 50px 0;
  }
  .content-bg{
    padding: 120px 0 140px 0;
  }
  .content-img{
    padding-top: 40px;
  }
    .content-img figure{
      margin-top: 20px;
    }
  .content-blank,
  #portfolios{
    padding: 50px 0 70px 0;
  }
    #portfolios a strong{
      margin-top: 90px;
    }
  footer[role="footer"]{
    padding: 30px 0;
  }
  .wrap-m-b-0,
  .wrap-m-b-20,
  .wrap-m-b-30,
  .wrap-m-b-50,
  .wrap-m-b-120{
    padding-bottom: 0;
  }
  .wrap-m-b-20{
    margin-bottom: -10px;
  }
  .wrap-m-b-30{
    margin-bottom: -15px;
  }
  .wrap-m-b-50{
    margin-bottom: -30px;
  }
  .wrap-m-b-120{
    margin-bottom: -85px;
  }
  #portfolio .tone-icon{
    margin-top: 55px;
  }
  .wrap-tone{
    padding-top: 120px;
  }
}
@media screen and (max-width: 480px){
  body{
    font-size: 80%;
  }
  .container{
    padding: 0 20px;
  }
  .container-article{
    padding: 0 20px;
  }
  .span3{
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .wrap{
    padding: 30px 0;
  }
  .content-bg{
    padding: 90px 0 110px 0;
  }
  .content-img{
    padding-top: 20px;
  }
    .content-img figure{
      margin-top: 10px;
    }
    .content-bg h1,
    .content-img h1{
      font-size: 270%;
    }
  .content-blank,
  #portfolios{
    padding: 30px 0 50px 0;
  }
    .content-blank h1{
      font-size: 170%;
    }
    #portfolios a div{
      position: relative;
      margin-top: 10px;
      color: #313233;
      background: none;
      opacity: 1;
    }
      #portfolios a strong{
        color: #313233;
        margin-top: 0;
      }
  header[role="banner"]{
    padding-bottom: 20px;
    text-align: center;
  }
    .logo{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
    header[role="banner"] ul{
      float: none;
      margin-top: 16px;
    }
      header[role="banner"] li{
        display: inline-block;
        float: none;
        margin: 0 5px;
      }
  #portfolio h2{
    margin-bottom: 20px;
  }
  #portfolio p{
    margin-bottom: 15px;
  }
  #portfolio figure{
    margin-top: 15px;
  }
  #portfolio-summary .span3{
    margin-top: 10px;
  }
    #portfolio-summary .span3:first-child{
      margin-top: 0;
    }
    #portfolio-summary .btn{
      display: block;
      margin-top: 20px;
    }
  footer[role="footer"]{
    padding: 30px 0;
  }
  .wrap-m-b-0,
  .wrap-m-b-20,
  .wrap-m-b-30,
  .wrap-m-b-50{
    padding-bottom: 0;
  }
  .wrap-m-b-20{
    margin-bottom: -5px;
  }
  .wrap-m-b-30{
    margin-bottom: -10px;
  }
  .wrap-m-b-50{
    margin-bottom: -20px;
  }
  .wrap-m-b-120{
    margin-bottom: -70px;
  }
  #portfolio .tone-icon{
    margin-top: 30px;
  }
  .wrap-tone{
    padding-top: 60px;
  }
}

/* Retina
 *************************************/

@media screen and (-webkit-min-device-pixel-ratio : 1.5),screen and (min-device-pixel-ratio : 1.5){

}



